In [1]:
import pandas as pd
from datetime import datetime as dt
import sys
import time
import json
import numpy as np
import os
import matplotlib.pyplot as plt

In [22]:
data_name=['arganzuela', 'barajas', 'carabanchel', 'centro', 'chamartin', 'chamberi', 'ciudad_lineal', 'fuencarral',
     'hortaleza', 'latina', 'moncloa', 'moratalaz', 'puente_de_vallecas', 'retiro', 'salamanca', 'san_blas',
     'tetuan', 'usera', 'vicalvaro', 'villa_de_vallecas', 'villaverde']

In [51]:
df = pd.read_csv("datos_wifi_renta.csv", sep=',');

In [7]:
  def df_to_json(dataframe):
        data = [];
        for t in dataframe.itertuples():
            
            line = {"nombre": t.nombre_distrito, "porcentaje_movistar":t.movistar/float(t.total), 
                    "porcentaje_vodafone":t.vodafone/float(t.total), "porcentaje_orange":t.orange/float(t.total),
                   "porcentaje_jazztel":t.jazztel/float(t.total), "porcentaje_ono":t.ono/float(t.total), 
                    "porcentaje_wlan":t.wlan/float(t.total)};
            data.append(line);
            
        return data;   
    
def save_json(data):
    with open( "datos.json", 'w') as outfile:    
        json.dump(data, outfile);

In [8]:
data = df_to_json(df);

In [9]:
save_json(data);

In [3]:
df

,Unnamed: 0,nombre_distrito,total,movistar,vodafone,orange,jazztel,ono,wlan,renta,edad_media,porcentaje_autonomos,poblacion,porcentaje_extranjeros,porcentaje_mayores_65,porcentaje_menores_16,porcentaje_parados
0,0,arganzuela,78175,9496,6758,6757,5930,3866,14532,38308.48,44.2,7,151.965,16.0,18.7,13.1,6.8
1,1,barajas,31771,2273,943,775,515,720,1755,42155.28,41.3,6,46.876,14.6,17.3,18.6,6.5
2,2,carabanchel,25548,1751,1826,2456,2392,2425,6618,26625.88,43.5,6,243.998,26.5,19.8,15.2,10.7
3,3,centro,141484,17698,9222,9012,7057,3209,20598,30197.44,44.0,15,131.928,30.1,16.3,8.7,8.0
4,4,chamartin,92249,16716,6726,5589,4139,2471,15942,65216.04,45.3,11,143.424,15.4,23.2,13.8,5.3
5,5,chamberi,79372,11696,4609,3963,3600,1980,14693,49347.60,46.5,12,137.401,17.3,24.2,11.1,5.6
6,6,ciudad_lineal,119216,21109,10178,9060,7433,4608,22716,44001.48,45.7,7,212.529,22.4,23.2,13.2,8.2
7,7,fuencarral,65182,6119,3637,3904,3206,3465,15303,54478.58,42.7,6,238.756,12.9,20.6,17.8,6.4
8,8,hortaleza,37212,5139,2109,1814,1324,1980,7864,56606.33,42.2,6,180.462,15.0,18.7,17.6,7.1
9,9,latina,27743,2277,1897,2674,2701,2461,6563,29817.66,46.4,6,233.808,21.7,25.2,12.7,9.6
10,10,moncloa,88411,13296,5620,5576,4787,3464,17055,69915.64,44.4,9,116.903,15.9,21.7,14.9,5.8
11,11,moratalaz,6847,584,439,705,736,449,2111,34191.25,47.1,5,94.197,14.6,25.9,12.3,9.3
12,12,puente_de_vallecas,27738,3009,2356,2425,2173,1722,5364,23405.03,43.3,5,227.595,23.8,18.4,14.3,12.4
13,13,retiro,49485,5959,3068,3128,2688,1886,9279,54250.43,46.8,8,118.516,12.0,25.3,12.6,5.9
14,14,salamanca,136075,23260,9026,7416,5970,2929,23670,57371.99,46.3,13,143.800,19.0,24.0,11.6,5.4
15,15,san_blas,39037,3979,2422,2498,2019,2429,4255,32807.06,42.9,6,154.357,17.3,17.8,16.4,9.2
16,16,tetuan,42517,3728,2211,2646,2677,1788,9923,32624.35,44.3,9,153.789,27.6,19.8,12.2,8.2
17,17,usera,21509,2670,1713,2441,1880,2178,2681,24059.93,42.3,5,134.791,28.8,17.7,16.1,11.0
18,18,vicalvaro,16741,1432,1233,1419,1422,1520,3518,27926.54,40.2,4,70.051,16.5,14.6,19.6,10.3
19,19,villa_de_vallecas,11446,690,930,795,950,803,2997,31063.40,38.4,4,104.421,16.3,12.2,19.5,10.4
20,20,villaverde,16711,1931,1150,1963,1653,1818,1794,24870.78,42.1,5,142.608,26.6,18.1,16.9,12.2

In [6]:
datos_totales =[df.total.sum(), df.movistar.sum(), df.vodafone.sum(), df.orange.sum(), df.jazztel.sum(), df.ono.sum(),
               df.wlan.sum()];
nombre = 'madrid';
nombres = ['Total', 'Movistar', 'Vodafone', 'Orange', 'Jazztel', 'Ono', 'Wlan'];

In [7]:
%matplotlib qt


a = range(len(datos_totales))
plt.bar( a, datos_totales, align='center', color=['green','b','r','#F39C12','y', 'k', 'purple']);
plt.xticks(a, nombres);
plt.title(nombre);
plt.show();
plt.savefig(nombre+'.jpg')
plt.show(block = False)
plt.close(1);

In [11]:
%matplotlib qt


plt.ion()
x = np.array([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20])
#plt.plot(df.movistar/df.total, 'b')# Dibujamos una l√≠nea recta azul
#plt.plot(df.vodafone/df.total, 'r')
#plt.plot(df.orange/df.total, 'orange')
#plt.plot(df.jazztel/df.total, 'yellow')
#plt.plot(df.ono/df.total, 'black')
#plt.scatter( df.renta, df.movistar/df.total, c='b', linewidths= 2)
plt.scatter( df.renta, df.vodafone/df.total, c='r', linewidths= 2)
#plt.scatter( df.renta, df.orange/df.total, c='orange', linewidths= 2)
#plt.scatter( df.renta, df.jazztel/df.total, c='yellow', linewidths= 2)
#plt.scatter( df.renta, df.ono/df.total, c='black', linewidths= 2)
plt.xlabel('Renta Media')  # Ponemos etiqueta al eje x
plt.ylabel(u'Porcentaje Puntos Acceso Vodafone')  # Ponemos etiqueta al eje y
#plt.xticks(x, df.nombre_distrito)
#plt.twinx()  # Creamos un segundo eje y
#plt.plot(df.porcentaje_menores_16, 'g')  # Dibuja una exponencial de 0 a 5 con la y representada en el segundo eje y
#plt.ylabel(u'Porcentaje MEe')  # Ponemos etiqueta al segundo eje y
#plt.xlim(0,20)  # Limitamos los valores del eje x para que vayan desde -10 a 110

In [6]:
x = list(df.renta)
z = np.poly1d(np.polyfit(df.renta, df.vodafone/df.total, 2)) #Con polyfit creamos el polinomio, poly1d facilita el usarlo luego

In [7]:
compania={'df.movistar':df.movistar, 'df.vodafone':df.vodafone, 'df.orange':df.orange, 'df.jazztel':df.jazztel,
          'df.ono':df.ono}
campos = {'df.renta':df.renta, 'df.edad_media':df.edad_media, 'df.poblacion':df.poblacion, 
          'df.porcentaje_autonomos':df.porcentaje_autonomos, 'df.porcentaje_extranjeros':df.porcentaje_extranjeros, 
          'df.porcentaje_mayores_65':df.porcentaje_mayores_65, 'df.porcentaje_menores_16':df.porcentaje_menores_16, 
          'df.porcentaje_parados':df.porcentaje_parados}

In [32]:


%matplotlib qt

for no_comp in compania:
    comp = compania[no_comp]

    for no_variable in campos:
        variable = campos[no_variable]
        x = list(variable)
        z = np.poly1d(np.polyfit(variable, comp/df.total, 2))
        plt.plot(variable, comp/df.total, 'o');
        x.sort();
        plt.plot(x, z(x), 'r');
        plt.savefig(no_comp+'-'+no_variable+'.jpg')
        plt.show(block = False)
        plt.close(1);

In [8]:
%matplotlib qt



for no_variable in campos:
    variable = campos[no_variable]
    x = list(variable)
    z = np.poly1d(np.polyfit(variable, df.movistar/df.total, 3))
    plt.plot(variable, df.movistar/df.total, 'bo');
    x.sort();
    plt.plot(x, z(x), 'b');
    x = list(variable)
    z = np.poly1d(np.polyfit(variable, df.vodafone/df.total, 3))
    plt.plot(variable, df.vodafone/df.total, 'ro');
    x.sort();
    plt.plot(x, z(x), 'r');
    x = list(variable)
    z = np.poly1d(np.polyfit(variable, df.orange/df.total, 3))
    plt.plot(variable, df.orange/df.total, 'o', color='#F39C12');
    x.sort();
    plt.plot(x, z(x), 'orange');
    x = list(variable)
    z = np.poly1d(np.polyfit(variable, df.jazztel/df.total, 3))
    plt.plot(variable, df.jazztel/df.total, 'yo');
    x.sort();
    plt.plot(x, z(x), 'y');
    x = list(variable)
    z = np.poly1d(np.polyfit(variable, df.ono/df.total, 3))
    plt.plot(variable, df.ono/df.total, 'ko');
    x.sort();
    plt.plot(x, z(x), 'k');
    plt.savefig('companies-'+no_variable+'.jpg')
    plt.show(block = False)
    plt.close(1);

In [17]:
distrito={'df.nombre_distrito': df.nombre_distrito}
puntos_acceso = {'df.total':df.total, 'df.movistar':df.movistar, 'df.vodafone':df.vodafone, 'df.orange':df.orange, 'df.jazztel':df.jazztel,
          'df.ono':df.ono}

In [71]:
%matplotlib qt

dist = df[df.nombre_distrito == 'arganzuela'];
nombres = ['Total', 'Movistar', 'Vodafone', 'Orange', 'Jazztel', 'Ono', 'Wlan']
data =(dist.total.get_values())/(dist.poblacion.get_values())/1000;
print(data);

#a = range(len(data))
#plt.bar( a, data, align='center', color=['green','b','r','#F39C12','y', 'k']);
#plt.xticks(a, nombres)
#plt.title('arganzuela')
#plt.show()

[ 0.51442766]

In [115]:
data_name=['arganzuela', 'barajas', 'carabanchel', 'centro', 'chamartin']
data_name2=['chamberi', 'ciudad_lineal', 'fuencarral', 'hortaleza', 'latina']
data_name3= ['moncloa', 'moratalaz', 'puente_de_vallecas', 'retiro']
data_name4=['salamanca','san_blas','tetuan', 'usera']
data_name5=['vicalvaro', 'villa_de_vallecas', 'villaverde']

In [116]:

dataset1=[];
dataset2=[];
dataset3=[];
dataset4=[];
dataset5=[];
for nombre in data_name:
    dist = df[df.nombre_distrito == nombre];
    data =(dist.total.get_values())/(dist.poblacion.get_values())/1000;
    dataset1.append(data);

for nombre in data_name2:
    dist = df[df.nombre_distrito == nombre];
    data =(dist.total.get_values())/(dist.poblacion.get_values())/1000;
    dataset2.append(data);    

for nombre in data_name3:
    dist = df[df.nombre_distrito == nombre];
    data =(dist.total.get_values())/(dist.poblacion.get_values())/1000;
    dataset3.append(data);

for nombre in data_name4:
    dist = df[df.nombre_distrito == nombre];
    data =(dist.total.get_values())/(dist.poblacion.get_values())/1000;
    dataset4.append(data);  
    
for nombre in data_name5:
    dist = df[df.nombre_distrito == nombre];
    data =(dist.total.get_values())/(dist.poblacion.get_values())/1000;
    dataset5.append(data);

In [119]:
%matplotlib qt

a =range(len(dataset5))
print (dataset5)
plt.bar( a, dataset5, align='center', width=0.2);
plt.xticks(a, data_name5);
plt.title('Densidad Puntos de Acceso');
plt.show();
plt.savefig('densidad_5.jpg')
plt.show(block = False)
plt.close(1);

[array([ 0.23898303]), array([ 0.10961397]), array([ 0.11718136])]

In [ ]:
%matplotlib qt
for nombre in data_name:
    dist = df[df.nombre_distrito == nombre];
    nombres = ['Total', 'Movistar', 'Vodafone', 'Orange', 'Jazztel', 'Ono', 'Wlan']
    data =[dist.total.get_values(), dist.movistar.get_values(), dist.vodafone.get_values(), dist.orange.get_values(),
           dist.jazztel.get_values(), dist.ono.get_values(), dist.wlan.get_values()];
    
    a = range(len(data))
    plt.bar( a, data, align='center', color=['green','b','r','#F39C12','y', 'k', 'purple']);
    plt.xticks(a, nombres);
    plt.title(nombre);
    plt.show();
    plt.savefig(nombre+'.jpg')
    plt.show(block = False)
    plt.close(1);

In [ ]:
%matplotlib qt



for no_variable in campos:
    variable = campos[no_variable]
    x = list(variable)
    z = np.poly1d(np.polyfit(variable, df.movistar/df.total, 3))
    plt.plot(variable, df.movistar/df.total, 'bo');
    x.sort();
    plt.plot(x, z(x), 'b');
    x = list(variable)
    z = np.poly1d(np.polyfit(variable, df.vodafone/df.total, 3))
    plt.plot(variable, df.vodafone/df.total, 'ro');
    x.sort();
    plt.plot(x, z(x), 'r');
    x = list(variable)
    z = np.poly1d(np.polyfit(variable, df.orange/df.total, 3))
    plt.plot(variable, df.orange/df.total, 'o', color='#F39C12');
    x.sort();
    plt.plot(x, z(x), 'orange');
    x = list(variable)
    z = np.poly1d(np.polyfit(variable, df.jazztel/df.total, 3))
    plt.plot(variable, df.jazztel/df.total, 'yo');
    x.sort();
    plt.plot(x, z(x), 'y');
    x = list(variable)
    z = np.poly1d(np.polyfit(variable, df.ono/df.total, 3))
    plt.plot(variable, df.ono/df.total, 'ko');
    x.sort();
    plt.plot(x, z(x), 'k');
    plt.savefig('companies-'+no_variable+'.jpg')
    plt.show(block = False)
    plt.close(1);